<div class="main-layout in_page">
    <!-- loader  -->
    <!-- <div class="loader_bg">
       <div class="loader"><img src="assets/images/loading.gif" alt="#"/></div>
    </div> -->
    <!-- end loader -->
    <!-- header -->
    <app-header></app-header>
    <!-- end header inner -->
    <!-- end header -->
    <!--  service -->
    <div class="service">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="titlepage">
                   <h2>Our <span class="green">Services</span></h2>
                </div>
             </div>
          </div>
          <div class="row">
             <div class="col-md-10 offset-md-1">
                <div class="row">
                   <!-- <div class="col-md-4 col-sm-6">
                      <div class="service_box">
                         <i><img src="assets/images/service1.png" alt="#"/></i>
                         <h3>Residential Interiors</h3>
                         <p>many variations of passages <br>of Lorem Ipsum available,</p>
                      </div>
                   </div>
                   <div class="col-md-4 offset-md-1 col-sm-6">
                      <div class="service_box">
                         <i><img src="assets/images/service2.png" alt="#"/></i>
                         <h3>Designing Presentation & Finalization</h3>
                         <p>many variations of passages <br>of Lorem Ipsum available,</p>
                      </div>
                   </div>
                   <div class="col-md-4 offset-md-3 col-sm-6 mar_top">
                      <div class="service_box">
                         <i><img src="assets/images/service3.png" alt="#"/></i>
                         <h3>Material Selection</h3>
                         <p>many variations of passages <br>of Lorem Ipsum available,</p>
                      </div>
                   </div>
                   <div class="col-md-4 offset-md-1 col-sm-6 mar_top">
                      <div class="service_box">
                         <i><img src="assets/images/service4.png" alt="#"/></i>
                         <h3>Quotation & Budgeting</h3>
                         <p>many variations of passages <br>of Lorem Ipsum available,</p>
                      </div>
                   </div> -->
                   <div class="col-md-12">
                     <h2>Residential Interiors:</h2>
                     <p>One of the biggest arenas for designers is residential design, or the interiors of spaces in which people live. This can include houses, apartments, condos, and anywhere else where people reside. The architect may build the house, but it's the designer's job to make it a home. Residential interior designers coordinate the interiors of homes, which means that their job is very different than someone who designs something like a bank or a commercial center. Interior design is always a matter of balancing aesthetic and function, so we need to consider the primary function of a residence: it's a place where people live. Therefore, a residential designer's primary focus is creating a livable space.</p>
                     <br>
                     <h2>Quotation & Budgeting:</h2>
                     <p>HOME IN shall develop a Scope of Work sub-agreement, based on the approved Budget Quotation Sheet and the approved Proposal, with the vendor that has demonstrated the best ability to meet the State Agency’s strategic communications objectives within the allotted budget....</p>
                     <br>
                     <h2>Material Selection:</h2>
                     <p>Material selection is the act of choosing the material best suited to achieve the requirements of a given application. Many different factors go into determining the selection requirements, such as mechanical properties, chemical properties, physical properties, electrical properties and cost. HOME IN will help you in doing that effectively.</p>
                     <br>
                     <h2>Designing Presentation & Finalization</h2>
                     <p>When you get near the end of your project, there's one big milestone: Project Handover. In a sense, this is where your work comes to fruition. While it's technically wrong to think of it as a single event, or milestone, handover marks the completion of delivery and the start of the closure stage of your project. A ‘handover’ comes at the end of the project to install, construct, or modify an asset. It usually involves the client formally accepting the asset, the work area, and relevant information from the contractor.</p>
                  </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- end service -->
    <!--  footer -->
    <app-footer></app-footer>
    <!-- end footer -->
 </div>