<div class="main-layout in_page">
   <!-- loader  -->
   <!-- <div class="loader_bg">
      <div class="loader"><img src="images/loading.gif" alt="#"/></div>
   </div> -->
   <!-- end loader -->
   <!-- header -->
   <app-header></app-header>
   <!-- end header inner -->
   <!-- end header -->
   <!--  service -->
   <div id="about" class="about">
      <div class="container">
         <div class="row">
            <div class="col-md-5">
               <div class="titlepage">
                  <h2>About <span class="green">Us</span></h2>
                  <p>It all started when college friends, Srikar and Manikanteswar reddy, set upon their journeys to design their dream homes. It didn’t take them long to realize how fragmented the industry was and how factors like identifying the right professionals, coordination of tasks, and ensuring fair price and quality were pain points faced by many.</p>
                  <a class="read_more" href="Javascript:void(0)"> Read More</a>
               </div>
            </div>
            <div class="col-md-7">
               <div class="about_img">
                  <figure><img src="assets/images/about.jpeg" alt="#"/></figure>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end service -->
   <!--  footer -->
   <app-footer></app-footer>
   <!-- end footer -->
</div>